.linking{
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
body{
  font-family: 'Young Serif', serif;
}
.active-link:focus{
  color: red;
}
.bg-img{
  background: url('./admin_assets/img/images\ \(3\).jpeg');
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: fixed;
}